<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="es.abordonado.socceranalytics.persistence.competition.CompetitionMapper">
    
    <resultMap id="competitionResultMap" type="es.abordonado.socceranalytics.domain.Competition">
        <id property="id"               column="ID" />
        <result property="code"         column="CODE"/>
        <result property="description"  column="DESCRIPTION" />
        <result property="season"       column="SEASON" />
        <result property="startAt"      column="START_AT" />
        <result property="endAt"        column="END_AT" />
        <association property="country" column="country" resultMap="es.abordonado.socceranalytics.persistence.country.CountryMapper.countryResultMap" columnPrefix="C_"/>
    </resultMap>
    
    <sql id="fields">
        cmp.ID, 
        cmp.CODE, 
        cmp.description,
        cmp.season, 
        cmp.start_at, 
        cmp.end_at,
        c.id as C_ID, 
        c.code as C_CODE, 
        c.description as C_DESCRIPTION
    </sql>
    
    <sql id="fromWithJoin">
        FROM COMPETITION cmp
        INNER JOIN COUNTRY c ON cmp.country = c.id
    </sql>

    <insert id="create" parameterType="es.abordonado.socceranalytics.domain.Competition" keyProperty="id" flushCache="true">
        INSERT INTO COMPETITION(ID, CODE, DESCRIPTION, SEASON, START_AT, END_AT, COUNTRY)
        VALUES(#{id}, #{code}, #{description}, #{season}, #{startAt}, #{endAt}, #{country.id})
    </insert>
    
    <select id="findById" parameterType="Integer" resultMap="competitionResultMap">
        SELECT 
        <include refid="fields"/>
        <include refid="fromWithJoin"/>
        WHERE cmp.ID = #{id}
    </select>

    <select id="findByCodeSeason" parameterType="map" resultMap="competitionResultMap">
        SELECT 
        <include refid="fields"/>
        <include refid="fromWithJoin"/>
        WHERE cmp.CODE = #{code}
        AND cmp.SEASON = #{season}
    </select>
    
    <update id="update" parameterType="es.abordonado.socceranalytics.domain.Competition" flushCache="true">
        UPDATE COMPETITION SET
        CODE = #{code},
        DESCRIPTION = #{description},
        COUNTRY = #{country.id}
        WHERE ID = #{id}
    </update>
    
    <delete id="delete" parameterType="es.abordonado.socceranalytics.domain.Competition" flushCache="true">
        DELETE FROM COMPETITION
        WHERE ID = #{id}
    </delete>
    
    <select id="findAll" resultMap="competitionResultMap">
        SELECT 
        <include refid="fields"/>
        <include refid="fromWithJoin"/>
        ORDER BY cmp.CODE
    </select>

</mapper>